{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="navigation-bar">
    <div class="container">
        {{widget('extendednavigation', 'extendednavigation', { 'align': 'right'})|raw}}
    </div>
</div>

    <div class="feature container">
            {{widget('feature', 'feature-right', {
                "header": "profile",
                "strapline": "profile",
                "defaultBgImg": asset('images/feature-bg.jpg'),
                "positionTopPercentage": "50",
                "showBtn": true,
                "buttonText": "Lorem Ipsum"
            })|raw}}
    </div>

    <!-- Page Content -->
    <section class="template-content container">
    	<!-- Main Widet Zone -->
       	{{zone('main')|raw}}
    
    </section>
    <!-- End Page Content -->

{% include "includes/footer.twig" %}

{% endblock %}
